* {
    margin: 3px;
    padding: 0px;
    box-sizing: border-box;
}

.container {          
        line-height: 57px;
        margin-left: 150px;
        margin-right: 150px;
}


body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;

}

#logo {
    padding-top: 11px;
    padding-left: 19px;
    height: 52px;
}


h1 {
    display: inline-block;
    line-height: 70px;
    vertical-align: top;
} 

header {
    background-color: white;
}

.task{ 
    display: inline-block;
    margin-top:   20px;
    border-top: 20px;
    border-color: blue;
    background-color: white;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; 
}


.bottone{
    border-width: 1px;
    height: 30px;
    width: 70px;
    border-radius: 6px;
}

.addtask{
    color: white;
    background-color: #14aaf5;
    margin-left: 30px;
    
}

.addsection{
    color: #d2d7db;
    background-color: white;
    white-space: nowrap;
    width: 100px;
}


.sfondo{
    background-color: white;
    margin-top: 4px;
    border-radius: 6px;
}

.new_task{
        display: inline-block;
        margin-left: 3;
}

.cerchio{
    width: 20px;
    height: 20px;
    border: 1px solid #42ccb4;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: #42ccb4;
}


.cerchio_x{
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: red;
}


.bottone_2{
    border-width: 1px;
    height: 30px;
    width: 88px;
    border-radius: 12px;
}

.newsletter{
    color: white;
    background-color: #14aaf5;
    margin-left: 3px;
    
}

.viola{
    background-color: #ab5de6 ;
    color: white ;
}

.verde{
    background-color: #2cc6ab;
    color: white ;
}

.arancio{
   background-color: #ff9b00;
   color: white;
}

.viola_2{
    background-color: violet ;
    color: white;
}

.verde_chiaro{
    background-color: #a3d116;
    color: white;
}